@model IEnumerable<ControleDeContatos.Models.ContatoModel>

<nav class="navbar navbar-inverse">
    <div class="container-fluid text-center">
        <p class="display-4">Busca por data de cadastro</p>
    </div>
    <div class="container-fluid justify-content-start">
        <form class="navbar-form navbar-left" role="search">
            <div class="row">
                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label for="minDate">Data Mínima</label>
                        <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label for="maxDate">Data Máxima</label>
                        <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ml-1 mt-lg-5">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>

<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-light table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeDaEmpresa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeDaEmpresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>